<a href="https://colab.research.google.com/github/shitzkhn/Recommendation-System/blob/master/Matrix_Factorization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [7]:
books=pd.read_csv('Data/books.csv',sep=',',error_bad_lines=False)
books = books.iloc[:, :16]
books = books.drop(columns=['title', 'best_book_id', 'work_id', 'books_count', 'isbn', 'isbn13', 'original_publication_year','language_code','work_ratings_count','work_text_reviews_count'])
books.head(5)

   id  book_id  ... average_rating ratings_count
0   1  2767052  ...           4.34     4780653.0
1   2        3  ...           4.44     4602479.0
2   3    41865  ...           3.57     3866839.0
3   4     2657  ...           4.25     3198671.0
4   5     4671  ...           3.89     2683664.0

[5 rows x 6 columns]

In [6]:
ratings=pd.read_csv('Data/ratings.csv',sep=',',error_bad_lines=False)
ratings.head()

   book_id  user_id  rating
0        1    314.0     5.0
1        1    439.0     3.0
2        1    588.0     5.0
3        1   1169.0     4.0
4        1   1185.0     4.0

In [8]:
df=pd.merge(books,ratings,on='book_id')
df.head()

   id  book_id                      authors  ... ratings_count  user_id  rating
0   2        3  J.K. Rowling, Mary GrandPr√©  ...     4602479.0    314.0     3.0
1   2        3  J.K. Rowling, Mary GrandPr√©  ...     4602479.0    588.0     1.0
2   2        3  J.K. Rowling, Mary GrandPr√©  ...     4602479.0   2077.0     2.0
3   2        3  J.K. Rowling, Mary GrandPr√©  ...     4602479.0   2487.0     3.0
4   2        3  J.K. Rowling, Mary GrandPr√©  ...     4602479.0   2900.0     3.0

[5 rows x 8 columns]

In [12]:
books_matrix = df.pivot_table(index = 'user_id', columns = 'original_title', values = 'rating').fillna(0)
books_matrix.shape #(28554, 794)
books_matrix.tail()

original_title   The Fellowship of the Ring  1776  ...  ·ΩàœÅŒ≠œÉœÑŒµŒπŒ±  Èãº„ÅÆÈå¨ÈáëË°ìÂ∏´ 1
user_id                                            ...
53293.0                                 0.0   0.0  ...       0.0       0.0
53332.0                                 0.0   0.0  ...       0.0       0.0
53366.0                                 0.0   0.0  ...       0.0       0.0
53381.0                                 0.0   0.0  ...       0.0       5.0
53403.0                                 0.0   0.0  ...       0.0       0.0

[5 rows x 116 columns]

In [11]:
books=books_matrix.columns
books=list(books)
books

[' The Fellowship of the Ring',
 '1776',
 "A Midsummer Night's Dream",
 'A Million Little Pieces',
 'A Short History of Nearly Everything',
 "America (The Book): A Citizen's Guide to Democracy Inaction",
 'Angels & Demons ',
 'Anthem',
 'Atlas Shrugged',
 'Brokeback Mountain',
 'Chapterhouse: Dune',
 'Children of Dune',
 'Cien a√±os de soledad',
 'Collapse: How Societies Chose to Fail or Succeed',
 'Cryptonomicon',
 'Daniel Deronda',
 'Das Parfum. Die Geschichte eines M√∂rders',
 'Deception Point',
 "Dirk Gently's Holistic Detective Agency",
 'Down Under',
 'Dune Messiah ',
 'Everyday Italian: 125 Simple and Delicious Recipes',
 'Fast Food Nation : The Dark Side of the All-American Meal ',
 'Freakonomics: A Rogue Economist Explores the Hidden Side of Everything',
 'Gates of Fire: An Epic Novel of the Battle of Thermopylae',
 'Getting Things Done: How To Achieve Stress-free Productivity',
 "Gravity's Rainbow",
 'Harry Potter Collection (Harry Potter, #1-6)',
 'Harry Potter and the Goblet of Fire',
 'Harry Potter and the Half-Blood Prince',
 'Harry Potter and the Order of the Phoenix',
 "Harry Potter and the Philosopher's Stone",
 'Harry Potter and the Prisoner of Azkaban',
 'Hatchet',
 'Heidi',
 'Heretics of Dune',
 'Killing Yourself to Live: 85% of a True Story',
 "L'Amant",
 'La sombra del viento',
 "Liar's Poker: Rising Through the Wreckage on Wall Street",
 'Manual do guerreiro da luz',
 'Memoirs of a Geisha',
 'Memoria de mis putas tristes',
 'Men Are from Mars, Women Are from Venus Book of Days: 365 Inspirations to Enrich Your Relationships',
 'Metamorphoses',
 'Moneyball: The Art of Winning an Unfair Game',
 'Mostly Harmless',
 'Na margem do rio Piedra eu sentei e chorei',
 'Neither Here Nor There: Travels in Europe',
 'No Logo',
 'Notes from a Big Country',
 'Notes from a Small Island',
 'O Alquimista',
 'O Zahir',
 'Of Mice and Men ',
 'Onze minutos',
 'Play It as It Lays',
 'Pompeii',
 'Quicksilver',
 'Sex, Drugs, and Cocoa Puffs: A Low Culture Manifesto',
 'Slouching Towards Bethlehem: Essays',
 'Snow Crash',
 'Snow Flower and the Secret Fan',
 'Stranger in a Strange Land',
 'The 48 Laws of Power',
 'The Broker',
 'The Brooklyn Follies',
 'The Clan of the Cave Bear',
 'The Confusion',
 'The Curious Incident of the Dog in the Night-Time',
 'The Da Vinci Code',
 'The Diamond Age',
 'The Door into Summer',
 'The Egypt Game',
 'The Elegant Universe: Superstrings, Hidden Dimensions, and the Quest for the Ultimate Theory',
 'The Game',
 'The Good Earth',
 "The Hitchhiker's Guide to the Galaxy",
 'The Hobbit and The Lord of the Rings',
 'The Known World',
 'The Long Dark Tea-Time of the Soul',
 'The Lord of the Rings',
 'The Lord of the Rings: The Art of The Fellowship of the Ring',
 'The Lord of the Rings: Weapons and Warfare',
 'The Lost Continent: Travels in Small-Town America',
 "The Millionaire Next Door: The Surprising Secrets of America's Wealthy",
 'The Mother Tongue: English and How It Got That Way',
 'The New York Trilogy',
 'The Phantom Tollbooth',
 'The Plot Against America',
 'The Portrait of a Lady',
 'The Power of One',
 'The Salmon of Doubt: Hitchhiking the Galaxy One Last Time',
 'The Tragicall Historie of Hamlet, Prince of Denmark',
 "The Ultimate Hitchhiker's Guide: Five Complete Novels and One Story",
 'The War of Art: Break Through the Blocks and Win Your Inner Creative Battles',
 'The Westing Game',
 'Think and Grow Rich',
 'Time Enough for Love',
 'Treasure Island',
 'Tropic of Cancer',
 'Twelfth Night; or, What You Will',
 'Un di Velt Hot Geshvign',
 'Veronika decide morrer',
 'We the Living',
 'West with the Night',
 'Zen and the Art of Motorcycle Maintenance',
 'ŒõœÖœÉŒπœÉœÑœÅŒ¨œÑŒ∑',
 'Œü·º∞Œ¥ŒØœÄŒøœÖœÇ Œ§œçœÅŒ±ŒΩŒΩŒøœÇ',
 '–í–æ–π–Ω–∞ –∏ –º–∏—Ä—ä',
 '·º∏ŒªŒπŒ¨œÇ',
 '·º∏ŒªŒπŒ¨œÇ ; ·ΩàŒ¥œçœÉœÉŒµŒπŒ±',
 '·º∏œÉœÑŒøœÅŒØŒ±Œπ',
 '·ΩàŒ¥œçœÉœÉŒµŒπŒ±',
 '·ΩàœÅŒ≠œÉœÑŒµŒπŒ±',
 'Èãº„ÅÆÈå¨ÈáëË°ìÂ∏´ 1']

In [29]:
books_matrix

AttributeError: ignored